<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Project</title>
</head>
<body>
    <h1>Flask Project Create Form</h1>
    <form action="/create" method="POST">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="department">Department:</label>
        <input type="text" id="department" name="department" required><br><br>

        <label for="salary">Salary:</label>
        <input type="number" id="salary" name="salary" required><br><br>

        <input type="submit" value="Submit">
</body>
</html>